---
import { ClientRouter } from 'astro:transitions';
interface Props {
    id: string
    name: string
    img: string
    success: boolean
    flightNumber: number
    details: string
}

const { id, name, img, success, flightNumber, details } = Astro.props
const launchStatus = success ? "Success" : "Failure"
---
<a class="bg-neutral-900 rounded-lg flex flex-col hover:bg-neutral-700 hover:scale-102 hover:outline transition" href={`launch/${id}`}>
    <picture class="flex justify-center p-5">
        <img transition:name={`img-${id}`} class="max-w-50" src={img} alt={`Patch for launch ${id}`}>
    </picture>
    <header class="p-4">
        <span 
            class:list={[
                "text-xs font-semibold px-3 py-1 rounded",
                {
                    "bg-green-400 text-green-900" : success,
                    "bg-red-400 text-red-900": !success
                }
            ]}
        >
            {launchStatus}
        </span>
        <div class="mt-5">
            <h2 class="font-[orbitron] text-xl font-medium">{name}</h2>
            <h3 class="text-sm text-neutral-500 mb-3">Launch#{id}</h3>
            <p>
                {
                    details !==null && details?.length > 100
                    ? details.slice(0,100) + "..."
                    : details
                }
            </p>
        </div>
        
    </header>
</a>