---
import { getLaunches } from "../services/api";
import CardLaunch from "./CardLaunch.astro";
const launches = await getLaunches();
---

<div class="grid gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  {
    launches.map((launch) => (
      <CardLaunch
        id={launch.id}
        name={launch.name}
        img={launch.links.patch.small}
        success={launch.success}
        flightNumber={launch.flight_number}
        details={launch.details}
      />
    ))
  }
</div>
