---
import Layout from '@/layouts/Layout.astro';
import { playlists, allPlaylists, songs } from '@/lib/data';
import PlaylistItemCard from "@/components/PlaylistItemCard.astro"
import PlaylistSongCard from '@/components/PlaylistSongCard.astro';

const { id } = Astro.params

const playlist = allPlaylists.find(playlist => playlist.id === id)
const playlistSongs = songs.filter(song => song.albumId === playlist?.albumId)
---

<Layout>
	<div transition:name=`playlist ${id} box` class="px-4 py-7 relative flex flex-col gap-5 h-full overflow-x-hidden bg-neutral-900" id="playlist-container">
        <header class="flex gap-4">
            <picture class="aspect-square w-52 h-52 flex-none">
                <img transition:name=`playlist ${id} image` class="object-cover w-full h-full flex-none rounded" src={playlist?.cover} alt={playlist?.title}>
            </picture>
            <h1 class="text-4xl font-bold">{playlist?.title}</h1>
        </header>
        <div class="flex flex-col">
            {
                playlistSongs.map(song => <PlaylistSongCard song={song} />)
            }
        </div>
	</div>
</Layout>
